name: Python Package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # This will install pytest so you can run tests
        pip install pytest 
        # If you have other libraries, you can add them here (e.g., pip install numpy)

    - name: Run pyt.py
      run: |
        python pyt.py
        pylint pyt.py
